@import '../node_modules/normalize.css/normalize.css';
@import './styles/green-theme';
@import './styles/light-theme';
@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap';
@import 'https://fonts.googleapis.com/css2?family=DotGothic16&display=swap';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body{ height: 100%; }


